*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

main{
    display: grid;
    height: 100vh;
    padding: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    background-color: #181818;
}

main > div{
    background-color: #212020;
    border-radius: 2rem;
}

.box-1 {
    grid-area: s-1;
    grid-column: 1/2;
    grid-row: 1/2;

}

.box-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.box-2{
    grid-area: s-2;
    grid-column: 1/2;
    grid-row: 2/6;

    text-align: center;
    padding: 1rem;

}

.box-2 img{
    height:100%;
    width: 170px;
    border-radius: 2rem;
    object-fit:cover;
}

.box-3{
    grid-area: s-3;
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 27.5rem 2rem 0 ;

}

.box-3 img {
    width: 100%;
    height: 100%;
}

.box-3-btc-verde{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 10rem;
    color: white;
    text-align:start;
}

.box-3-btc-verde p{
    width: 100%;
}

.box-3-barras{
    margin-top: 2rem;
    height: 10rem;
    background-color: white;
}
.s-4{
    grid-area: s-4;
    grid-column: 2/3;
    grid-row: 3/6;

}

.s-5{
    display: flex;
    justify-content: space-between;
    grid-area: s-5;
    grid-column: 3/5;
    grid-row: 1/3;

    padding: 2rem;

}

.s-5 ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

.s-5 a{
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}

.s-5 a:hover{
    color: rgb(25, 211, 25);
}

.s-5 li:last-child{
    margin-top: 10rem;
}

.criptocity img{
    max-width: 300px;
    border-radius: 1rem;
}



.s-6{
    grid-area: s-6;

    grid-column: 3/6;
    grid-row: 3/6;
    background-color: rgb(243, 238, 238);

    padding: 2rem;

}

.box-6-text{
    max-width: 400px;
    font-size: 1.8rem;
}
.box-6-text h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.box-6-text p{
    line-height: 3rem;
}
.s-7{
    grid-area: s-7;
    grid-column: 5/6;
    grid-row: 1/3;
}